@import "../base/index";
footer {
    // text-align: center;
    text-align: center;
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    p.business-name {
        font-weight: bold;
        font-size: 125%;
    }
    ul {
        list-style: none;
        padding-left: 0%;
        // margin-left: 0%;
    }
    ul li {
        margin: 20% 0% 3% 0%;
        &:first-child {
            margin-top: 0%;
        }
    }
    p.copyright {
        color: $very-dark-gray;
        // font-family: $alata;
        font-family: $josefin-sans;
        font-weight: 400;
    }
    .social-media-container {
        flex-direction: row;
        width: 80vw;
    }
    .social-media-icon {
        margin: 0% 1% 0% 1%;
    }
}