@import "../base/index.scss";
section.gallery {
    .see-all-button-desktop,
    .see-all-button-mobile {
        // &.desktop {
        //     display: none;
        // }
        // &.mobile {
        //     display: flex;
        // }
        // order: 10;
        margin-top: 2%;
        // order: 200 !important;
        border: 2px solid $black;
        // height: 35%;
        // width: 30%;
        padding: 2.5% 6%;
        background-color: $white;
        border-radius: 0%;
        font-family: $josefin-sans;
        font-weight: 600;
        letter-spacing: 0.2em;
        cursor: pointer;
        &:hover {
            background-color: $black;
            color: $white;
        }
        // @media screen and (min-width: 768px) {
        //     .see-all-button-desktop {
        //         display: none;
        //     }
        // }
        @media screen and (min-width: 900px) {
            // .see-all-button-desktop {
            //     display: flex;
            // }
            // .see-all-button-mobile {
            //     display: none;
        }
        // .mobile {
        //     display: none;
        // }
        // .desktop {
        //     display: flex;
        // }
        // order: 0
        // width: ;
        font-size: 1em;
        letter-spacing: 0.3em;
        padding: 1% 3% 1% 3%;
    }
    .see-all-button-desktop {
        // margin-top: 0;
        position: absolute;
        margin-top: 0;
        right: 10%;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    // display: block;
}