@import "../base/index.scss";
section.gallery {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;

  figure.gallery-image {
    background: linear-gradient(45deg, red, blue); // if image doesn't load
    width: 350px;
    padding: 10% 0;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    figcaption {
      color: $white;
      font-size: 1.4em;
      font-weight: 400;
      margin-left: 5%;
    }

    &.deep-earth {
      background-image: url(../images/mobile/image-deep-earth.jpg);
    }
    &.night-arcade {
      background-image: url(../images/mobile/image-night-arcade.jpg);
    }
    &.soccer-team {
      background-image: url(../images/mobile/image-soccer-team.jpg);
    }
    &.the-grid {
      background-image: url(../images/mobile/image-grid.jpg);
    }
    &.from-up-above {
      background-image: url(../images/mobile/image-from-above.jpg);
    }
    &.pocket-borealis {
      background-image: url(../images/mobile/image-pocket-borealis.jpg);
    }
    &.the-curiosity {
      background-image: url(../images/mobile/image-curiosity.jpg);
    }
    &.make-it-fisheye {
      background-image: url(../images/mobile/image-fisheye.jpg);
    }
  }
  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

//  Small Ipad
@media screen and (min-width: 768px) {
  section.gallery {
    display: flex;
    width: 100%;

    .gallery-image figcaption {
      margin-top: 20vh;
    }

    h2 {
      margin-right: 60%;
      font-weight: 300;
    }

    figure.gallery-image {
      width: 15vh;
      font-size: 0.8em;
      background-size: cover;

      &.deep-earth {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(../images/desktop/image-deep-earth.jpg);
      }
      &.night-arcade {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(../images/desktop/image-night-arcade.jpg);
      }
      &.soccer-team {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(../images/desktop/image-soccer-team.jpg);
      }
      &.the-grid {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(../images/desktop/image-grid.jpg);
      }
      &.from-up-above {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(../images/desktop/image-from-above.jpg);
      }
      &.pocket-borealis {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(../images/desktop/image-pocket-borealis.jpg);
      }
      &.the-curiosity {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(../images/desktop/image-curiosity.jpg);
      }
      &.make-it-fisheye {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(../images/desktop/image-fisheye.jpg);
      }
    }
    .x-gallery-image-row {
      display: flex;
      flex-direction: row;
    }

    // button.see-all-button {
    //   position: absolute;
    //   margin-top: -850px;
    //   margin-right: -490px;
    // }
  }
}

@media screen and (min-width: 1024px) {
  section.gallery {
    display: flex;
    width: 80%;

    figure.gallery-image {
      width: 30vh;
    }
    .x-gallery-image-row {
      display: flex;
      flex-direction: row;
    }
  }
}
