@import "../base/index.scss";
section.gallery {
  display: flex;
  flex-direction: column;

  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  figure.gallery-image {
    background: linear-gradient(45deg, red, blue); // if image doesn't load

    padding: 8% 0%;
    width: 90vw;
    height: auto;
    // background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: auto;
    figcaption {
      color: $white;
      font-size: 1.4em;

      margin-left: 5%;
    }

    &.deep-earth {
      background-image: url(/images/mobile/image-deep-earth.jpg);
    }
    &.night-arcade {
      background-image: url(/images/mobile/image-night-arcade.jpg);
    }
    &.soccer-team {
      background-image: url(/images/mobile/image-soccer-team.jpg);
    }
    &.the-grid {
      background-image: url(/images/mobile/image-grid.jpg);
    }
    &.from-up-above {
      background-image: url(/images/mobile/image-from-above.jpg);
    }
    &.pocket-borealis {
      background-image: url(/images/mobile/image-pocket-borealis.jpg);
    }
    &.the-curiosity {
      background-image: url(/images/mobile/image-curiosity.jpg);
    }
    &.make-it-fisheye {
      background-image: url(/images/mobile/image-fisheye.jpg);
    }
  }
  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

//  DESTKOP
@media screen and (min-width: 768px) {
  div.h2-and-button {
    // justify-content: center;
    // align-content: center;
    width: 90vw;
    display: flex;
    flex-direction: row;
    &.h2 {
      margin-right: 10%;
      // text-align: ;
      // order: -2;
      // order: 200;
      // display: inline;
      // color: aquamarine;
      // text-align: left;
    }
    &.button.see-all-button {
      // order: 200;
      // order: -1;
      // justify-content: right;
      // display: inline;
    }
  }
  section.gallery {
    .gallery-image figcaption {
      margin-top: 47vh;
      margin-left: 10% !important;
      // margin-top: 2%;
    }
    button {
      // order: 200 !important;
    }
    order: 10;
    // position: relative;
    // justify-content: center;
    // width: 95vw;
    // height: 50vh;
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // background-color: red;
    figure.gallery-image {
      // height: 65vh;
      width: 19vw;
      font-size: 2em;
      // height: auto;
      // margin-left: 1%;
      // margin-right: 1%;
      // width: 20vw;
      // background-size: contain;
      background-size: cover;
      // background-size: auto;
      // background-color: blue;
      &.deep-earth {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(/images/desktop/image-deep-earth.jpg);
      }
      &.night-arcade {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(/images/desktop/image-night-arcade.jpg);
      }
      &.soccer-team {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(/images/desktop/image-soccer-team.jpg);
      }
      &.the-grid {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(/images/desktop/image-grid.jpg);
      }
      &.from-up-above {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(/images/desktop/image-from-above.jpg);
      }
      &.pocket-borealis {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(/images/desktop/image-pocket-borealis.jpg);
      }
      &.the-curiosity {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(/images/desktop/image-curiosity.jpg);
      }
      &.make-it-fisheye {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.5)
          ),
          url(/images/desktop/image-fisheye.jpg);
      }
    }
    .x-gallery-image-row {
      display: flex;
      flex-direction: row;
      // width: 100vw;
      // background-color: brown;
    }
  }
}
